@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0%;
  font-family: Inter, sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: aliceblue;
}

ul {
  list-style: none;
}

/*-------------------------------*/

header {
  background-color: black;
}

span#logo-menu {
  display: none;
}

span#logo {
  font-family: teko;
  font-size: 2.5rem;
  text-transform: uppercase;
}

span#logo > a {
  color: hwb(13 3% 10%);
  font-weight: 700;
}

span#logo > a:hover {
  color: aliceblue;
  transition: 0.6s;
}

span#logo > a:hover > span#text-box {
  color: #e63907;
  transition: 0.6s;
}

span#text-box {
  color: white;
}

menu {
  margin: 0 auto;
  max-width: 1120px;
  padding: 1rem 0em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  animation: topdown 1200ms forwards;
}

#list-menu {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;

  font-family: Montserrat;
}

li > a {
  color: #fff2e76c;
}

li.active > a {
  color: #fff2e7de;
  font-size: 1rem;
  font-weight: 700;
  border-bottom: 1.5px solid #e63907;
  border-radius: 1px;
}

li.active > a:hover {
  color: #e63907;
  transition-duration: 0.5s;
  border-bottom: 1.5px solid #fff2e7de;
  border-radius: 1px;
}

li > a:hover {
  color: #e63907;
  transition-duration: 0.5s ease;
}

button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e63907;
  border-radius: 12px;
  padding: 10px 14px;
  font-weight: 800;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #fff2e7;
}

button > a {
  font-family: teko;
  font-size: 1rem;
  color: #fff2e7;
}

button:hover > a {
  color: #e63907;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(images/1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 90vh;

  animation: background 1200ms backwards;
}

section h1 {
  font-family: teko;
  font-size: 3rem;
  color: #fff2e7;
  text-transform: uppercase;

  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.868);
}

main h2 {
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  color: rgb(83, 80, 80);

  padding: 2.5rem;
}

main h2 span {
  display: flex;
  justify-content: center;

  font-size: 1.2rem;
  font-weight: 800;
  margin-top: 0.8rem;
}

@keyframes topdown {
  0% {
    opacity: 1;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes background {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
